<!DOCTYPE html>
<html>
    <head>
        <title>Car Lot</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>Welcome to Cars</h1>
            <p>We have a car!</p>
        </div>
    </body>
</html>
